#hay {
    width: 300px;
    height: 40px;
    position: absolute;
    font: 20px Arial, sans-serif;
    color: #2C789C;
    margin-left: 68px;
    margin-top: 10px;
    outline: 0px solid #27B588;
} 